/* ========================================
        GENERAL
========================================= */
* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: raleway, "sans-serif";
  height: 100%;
  width: 100%;
  background-color: #f1f5f0;
}
/* ========================================
        NAVIGATION MENU
========================================= */
nav {
  background-color: #8bb685;
  height: 50px;
  width: 100%;
}
nav label.portfolio {
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 0 50px;
  line-height: 50px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 50px;
  margin: 0 8px;
}
nav ul li a {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
/* ========================================
        HOME PAGE
========================================= */
.home {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 10%;
}
.intro {
  margin-top: 8%;
  width: 70%;
}
.intro h2{
    margin-bottom: 20px;
}
.intro h2 span{
    text-transform: uppercase;
    font-weight: bold;
    color: #c9a327;
}
.intro p{
    color: #2d5e27;
    margin:8px;
    font-size: 18px;
    text-align: justify;
}
.intro a{
    display: block;
    width: max-content;
    margin: 15px;   
    padding: 8px 20px;
    border-radius: 20px;
    color: #2d5e27;
    background-color: white;
    border:#81ad7b 1px solid;
}
.intro a:hover{
    color: white;
    background-color:#81ad7b;
    border: white 1px solid;
}
.home img {
    background-color: green;
    width: 30%;
    height: auto;
    border-radius: 50%;
    border:#81ad7b 2px solid;
}

